[run]
branch = True
source =
    back
    car_wash
    cars
    customer
    personal
    main
omit =
    back/asgi.py
    back/settings.py
    back/urls.py
    back/api_urls.py
    back/wsgi.py
    */migrations/*
    */tests.py
    */admin.py
    */apps.py
    */__init__.py
    manage.py

[report]
fail_under = 80
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
