.git/
.github/
.idea/
.vscode/

__pycache__/
*.py[cod]
.coverage
coverage.xml
htmlcov/
.pytest_cache/

.env
back/db.sqlite3
*.sqlite3-journal

front/node_modules/
front/dist/
front/coverage/

.DS_Store
